<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="page-title">Add New Course</h2>
              </div>
            <div class="card form-card">
                <div class="card-body p-4">
                    <form id="addCourseForm">
                        <div class="row g-3">

                            <div class="col-md-6">
                                <label for="courseName" class="form-label required-field">Course Name</label>
                                <input type="text" class="form-control" id="courseName" [(ngModel)]="course.c_name" [ngModelOptions]="{standalone: true}" required>
                            </div>


                            <div class="col-md-6">
                                <label for="courseCode" class="form-label required-field">Course Code</label>
                                <input type="text" class="form-control" id="courseCode" [(ngModel)]="course.c_code" [ngModelOptions]="{standalone: true}" required>
                            </div>

                            <div class="col-12">
                                <label for="description" class="form-label required-field">Course Description</label>
                                <textarea class="form-control" id="description" rows="4" [(ngModel)]="course.description" [ngModelOptions]="{standalone: true}"  required></textarea>
                            </div>


                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary px-4" (click)="addCourse()" >
                                    <i class="bi bi-check-circle me-2"></i>Save Course
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>